<% if @contents%>
<div>
<%= raw(@contents.html) %>
</div>
<% else %>
<div>
  <h4 class="center">Contact</h4><br>
  <p class="center">Questions and inquiries on the Curran Index and its website can be directed to <%=mail_to "#{@contact.email}", "Gary Simons"%>, <%=@contact.email%>.</p>

</div>
<% end %>
