    <h4 class="bold"><%=@contributor.biography%></h4><br>
    <%= raw @contributor.comment%>
    <div>
      <ul class="list-unstyled">
        <%@contributor_articles.each do |art| %>
          <li><%=art.author_citation%> <%=art.entry_month%></li>
          <br>
        <%end%>
        <br>
      </ul>
    </div>

