<p>
<%unless contributor.lifespan.nil?%>
  <%=contributor.lifespan%>
<% end %>

<%unless contributor.nationality.nil?%>
  <br><%=contributor.nationality%>
<%end%>

<%unless contributor.education.nil?%>
  <br><%=contributor.education%>
<%end%>
</p>
<%unless contributor.comment.nil?%>
  <p><%=contributor.comment%></p>
<%end%>
