<%unless contributor.lifespan.nil?%>
  <p><%=contributor.lifespan%></p>
<% end %>

<%unless contributor.nationality.nil?%>
  <p><%=contributor.nationality%></p>
<%end%>

<%unless contributor.education.nil?%>
  <p><%=contributor.education%></p>
<%end%>

<%unless contributor.comment.nil?%>
  <p><%=contributor.comment%></p>
<%end%>
